.component {
  position: fixed;
  right: 2%;
  top: 15%;
}

@media only screen and (max-width: 600px) {
  .component {
    display: none;
  }
}

ul.sidebar{
  list-style-type:none;
}
@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
