.logo {
  width: 45%;
}

.nav-theme {
  background-color: #101018f8;
  font-size: 20px;
}

.animate-navbar {
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
}

.component {
  --offset: var(--space);
  position: sticky;
  top: var(--offset);
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #101018f8;
}

.component .content {
  max-height: 500px;
  overflow-y: auto;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
