
.centered {
position: absolute;
top: 15%;
left: 50%;
transform: translate(-50%, -50%);
color:white;
text-align: center;
}
.img {
  height: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
.year{
    float:right; font-size:1.5vw; margin-right: 2%;
}
.degreeName{
    font-size: 1.25vw;
}
.degreeMarks{
    float:right; font-size:1.5vw; margin-right: 2%;
}
.main{
  border-color: teal;
}
.profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 22%;
  height: 40%;
  border-radius: 50%;
  border-width: thick;
  border-style: solid;
}
.heading{
  font-size: 3.5vw;
  font-weight: bold;
  text-align: center;
  float:initial;
}
ul.rcol{
  list-style-type:none;
}
.lcol{
  font-size: 3vw;
  text-align: left;
  float: left;
  width: 30%;
  font-weight: bold;

}
.rcol{
  font-size: 1.75vw;
  float: right;
  width: 70%;
}
.resume{
  width: 75%;
  margin-left: 10%;
  margin-right: 15%;
}

@media only screen and (max-width: 600px) {
  .resume {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
}