.component{
  left: 85%;
  top: 15%;
}
ul.navContainer{
  list-style-type:none;
  
}
.activeLink{
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .component {
    display: none;
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
