html{
    scroll-behavior: smooth;
}
body{
    /* background-color: linen; */
    /* background-image: linear-gradient(
    -225deg,
    #22e1ff 0%,
    #1d8fe1 48%,
    #625eb1 100%
  ); */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f9fe+0,d6f0fd+100;White+3D+%232 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d6f9ff+0,9ee8fa+100;Blue+3D */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+50,89c3eb+51,d5ebfb+100;Blue+Gloss+%234 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+14,89c3eb+62,d5ebfb+100 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,ddf1f9+60,a0d8ef+100 */
background: #feffff; /* Old browsers */
background: -moz-linear-gradient(45deg,  #feffff 0%, #ddf1f9 35%, #ddf1f9 60%, #a0d8ef 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #feffff 0%,#ddf1f9 35%,#ddf1f9 60%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #feffff 0%,#ddf1f9 35%,#ddf1f9 60%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}